<template>
  <div>
    <div class="container mx-auto">
      <ul class="flex justify-center space-x-20 text-white">
        <li>
          <button
            @click="currentTab(1)"
            class="inline-block px-8 py-2 bg-blue-500 focus:outline-none"
          >
            Data
          </button>
        </li>
        <li>
          <button
            @click="currentTab(2)"
            class="inline-block px-8 py-2 bg-blue-500 focus:outline-none"
          >
            System
          </button>
        </li>
      </ul>
      <div class="h-10/12 p-3 mt-6 text-center bg-inherit">
        <div v-if="tab === 1">
          <Chart/>
        </div>
        <div v-if="tab === 2">
          <System/>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import Chart from './components/Chart.vue'
import System from './components/System.vue'

const tab = ref(1);
const currentTab = (tabNumber: number) => (tab.value = tabNumber);
</script>
