<template>
  <Line v-if="store.connected" :data="data" :options="options" />

  <div>
    <button @click="store.download" class="bg-yellow-800 focus:outline-none w-1/4 py-2">
      Download
    </button>
  </div>

  <div>
    <button @click="store.clear" class="bg-red-800 focus:outline-none w-1/4 py-2">
      Clear
    </button>
  </div>
</template>

<script setup lang="ts">
import { Chart, LinearScale, PointElement, LineElement, Title, Tooltip, Legend } from 'chart.js';
import { Line } from 'vue-chartjs';
import { useSensorStore } from '../stores/sensorData.ts';
import { storeToRefs } from 'pinia';
import { computed } from "vue"

Chart.register(LinearScale, PointElement, LineElement, Title, Tooltip, Legend);

const store = useSensorStore();
const { sensorData } = storeToRefs(store)

store.createWebSocket();

// vue-chartjs type "problems" -> any
const data: any = computed(() => ({
  datasets: [
    {
      label: 'Board VOC',
      borderColor: '#dc8add',
      data: sensorData.value.map(row => ({ x: row.time, y: row.board.VOC  })),
      yAxisID: 'y',
      pointStyle: false,
    },
    {
      label: 'Board Temp [°C]',
      data: sensorData.value.map(row => ({ x: row.time, y: row.board.T  })),
      borderColor: '#ffbe6f',
      yAxisID: 't',
      pointStyle: false,
    },
    {
      label: 'Board RH [%]',
      borderColor: '#99c1f1',
      data: sensorData.value.map(row => ({ x: row.time, y: row.board.RH  })),
      yAxisID: 'rh',
      pointStyle: false,
    },
    {
      label: 'Board RAW',
      borderColor: '#cdab8f',
      data: sensorData.value.map(row => ({ x: row.time, y: row.board.RAW  })),
      yAxisID: 'raw',
      pointStyle: false,
    },
    {
      label: 'Cable VOC',
      borderColor: '#813d9c',
      data: sensorData.value.map(row => ({ x: row.time, y: row.cable.VOC  })),
      yAxisID: 'y',
      borderDash: [5, 5],
      pointStyle: false,
    },
    {
      label: 'Cable Temp [°C]',
      borderColor: '#e66100',
      data: sensorData.value.map(row => ({ x: row.time, y: row.cable.T  })),
      yAxisID: 't',
      borderDash: [5, 5],
      pointStyle: false,
    },
    {
      label: 'Cable RH [%]',
      borderColor: '#1c71d8',
      data: sensorData.value.map(row => ({ x: row.time, y: row.cable.RH  })),
      yAxisID: 'rh',
      borderDash: [5, 5],
      pointStyle: false,
    },
    {
      label: 'Cable RAW',
      borderColor: '#865e3c',
      data: sensorData.value.map(row => ({ x: row.time, y: row.cable.RAW  })),
      yAxisID: 'raw',
      borderDash: [5, 5],
      pointStyle: false,
    },
  ]
}));

const options: any = {
  responsive: true,
  maintainAspectRatio: true, // important!!
  animation: false,
  plugins: {
    legend: {
      position: 'bottom'
    }
  },
  scales: {
    x: {
      type: 'linear',
      title: {
        text: 'Seconds',
        display: true
      }
    },
    y: {
      type: 'linear',
      title: {
        text: 'VOC',
        display: true,
      },
    },
    t: {
      type: 'linear',
      display: true,
      position: 'right',
      //suggestedMin: 15,
      //suggestedMax: 30,
      title: {
        text: 'Temp. [°C]',
        display: true,
      },
      grid: {
        drawOnChartArea: false,
      }
    },
    rh: {
      type: 'linear',
      display: true,
      position: 'right',
      //suggestedMin: 10,
      //suggestedMax: 60,
      title: {
        text: 'RH [%]',
        display: true,
      },
      grid: {
        drawOnChartArea: false,
      }
    },
    raw: {
      type: 'linear',
      display: true,
      position: 'right',
      title: {
        text: 'RAW',
        display: true,
      },
      grid: {
        drawOnChartArea: false,
      }
    },
  }
}
</script>
