<template>
  <div class="grid gap-2 grid-cols-3">

      IP:
      <input v-model="systemSettings.ip" />

      <button
        @click="connect"
        class="focus:outline-none row-span-2"
        :class="{ 'bg-green-800': connected,  'bg-yellow-800': !connected }"
      >
        Connect to Device
      </button>

      Port:
      <input v-model="systemSettings.port" />

      WiFi Name:
      <input v-model="systemSettings.ssid" />

      <button
        @click="save"
        class="focus:outline-none row-span-2"
        :class="{ 'bg-green-800': connected,  'bg-red-800': !connected }"
      >
        Save to Device
      </button>

      WiFi PW:
      <input v-model="systemSettings.pw" />

  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useSystemStore } from '../stores/systemSettings.ts';

const store = useSystemStore();
const { systemSettings, connected } = storeToRefs(store);
const { save, connect } = store;
</script>
